@model IEnumerable<Doan.Models.productDetail>
@{
    ViewBag.Title = "Sản phẩm";
}

<main>
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar_title">
                    <h5>Danh mục sản phẩm</h5>
                </div>
            </div>
            @Html.Action("MenuProduct", "Home")
        </div>
        <div class="col-md-9">
            <!-- Main Content -->
            <div class="main_content">
                <!-- Products -->
                <div class="products">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="product">
                                <img src="@item.product_image" alt="@item.product_name">
                                <p class="name"><a href="@item.product_id" style="color: #fa6e4f">@item.product_name</a></p>
                                <p class="price"><span>@item.product_price</span></p>
                                <p class="ingredients">@item.product_ingredients</p>
                                <p class="cart"><a href="@Url.Action("AddItem", "Cart", new { @productId=@item.product_id, @quantity=1 })" style="color:#ffffff">Thêm vào giỏ hàng<i class="bx bx-cart-alt"></i></a></p>
                            </div>
                        }
                    }
                    else 
                    {
                        <p class="name" style="color: #fa6e4f; font-size:25px">Hiện chưa có sản phẩm!</p>
                    }
</div>
            </div>
        </div>
    </div>
</main>

