@model Doan.DAL.customer
@using BotDetect.Web.Mvc;
;
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />

<div class="log-bg-in">
    <div class="menuLog">
        <ul>
            <li><i class="fa-regular fa-user" style="padding: 5px; border-radius: 50%; border: 2px solid #000"></i></li>
            <li>Đăng nhập</li>
        </ul>
    </div>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "Email" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password)
            @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
        </div>

        <div>
            @Html.Label("CaptchaCode", "Retype the code from the picture: ")
            @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                exampleCaptcha.UserInputID = "CaptchaCode";}
            @Html.Captcha(exampleCaptcha)
        </div>
        <div class="actions">
            @Html.TextBox("CaptchaCode")
            @Html.ValidationMessage("CaptchaCode")
        </div> //validate captcha neu dung thi cho login, sai thi khong cho

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-outline-dark" style="margin-top:20px;margin-bottom:15px;width:50%; margin-left:16.6667%;" value="Login" />
        </div>

    }

    <p style="margin:auto 0">
        @Html.ActionLink("Chưa có tài khoản? Đăng ký ngay!", "Register", "Home")
    </p>
    </div>
</main>
@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("searchButton").addEventListener("click", function () {
                var keyword = document.getElementById("searchInput").value.trim();
                var url = "/Home/ResultFind/" + encodeURIComponent(keyword);
                window.location.href = url;
            });

            document.getElementById("searchInput").addEventListener("keypress", function (event) {
                if (event.key === 'Enter') {
                    var keyword = document.getElementById("searchInput").value.trim();
                    var url = "/Home/ResultFind/" + encodeURIComponent(keyword);
                    window.location.href = url;
                }
            });
        });
    </script>
    }
