    @model List<Doan.DAL.CartItem>

    @section scripts{
    <script src="/Content/assets/js/cartController.js"></script>
    }
    <h2>GIỎ HÀNG CỦA BẠN</h2>
    <div class="content">
        <div class="section group">
            @if (Model.Count() > 0)
            {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã SP</td>
                            <td>Tên SP</td>
                            <td style="width:20%">Ảnh SP</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.product.product_id</td>
                            <td>@item.product.product_name</td>
                            <td><img style="display: block; width: 60%" src="@item.product.product_image" /></td>
                            <td><input type="number" class="txtQuantity" data-id="@item.product.product_id" value="@item.quantity" /></td>
                            <td>@item.product.product_price</td>
                            <td>@(Convert.ToDecimal(item.product.product_price * item.quantity))</td>
                            <td><a href="#" data-id="@item.product.product_id" class="btn-delete">Xoá</a></td>
                        </tr>
                        }
                    </tbody>
                    <tr>
                        <td>TỔNG TIỀN: @Model.Sum(item => item.product.product_price * item.quantity ) </td>
                    </tr>
                </table>
            </div>

            <div class="row">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="shipName" required class="form-control" />
                     </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input name="mobile" class="form-control" required maxlength="11" minlength="9" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" required class="form-control" />
                    </div>
                    <button type="submit" class="btn">Gửi đơn hàng</button>
                }
            </div>
            }
            else
            {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
            }
        </div>
    </div>
