
@{
    ViewBag.Title = "Payment";

}
<h2>THANH TOÁN</h2>
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Mã SP</td>
                            <td>Tên SP</td>
                            <td>Ảnh SP</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.product.id</td>
                                <td>@item.product.name</td>
                                <td><img src="~/Upload/Products/@item.product.image" /></td>
                                <td><input type="number" class="txtQuantity" data-id="@item.product.id" value="@item.Quantity" /></td>
                                <td>@item.product.unit_price</td>
                                <td>@(Convert.ToDecimal(item.product.unit_price * item.Quantity))</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>


            <div class="row">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="shipName" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input name="mobile" class="form-control" required maxlength="11" minlength="9" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" required class="form-control" />
                    </div>
                    <button type="submit" class="btn">Gửi đơn hàng</button>
                }
            </div>




        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }
    </div>



</div>

