@model Doan.DAL.catetory

@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h2>CẬP NHẬT DANH MỤC SẢN PHẨM</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.catetory_id)

            <div class="form-group">
                @Html.LabelFor(model => model.catetory_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.catetory_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.catetory_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("isActive")
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isDelete, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("isDelete")
                    @Html.ValidationMessageFor(model => model.isDelete, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="CẬP NHẬT" class="custom-button submit-button bold-text" />
                </div>
            </div>
        </div>
    }
    <div>
        <button class="custom-button create-button" onclick="location.href='@Url.Action("Categories")">QUAY VỀ DANH SÁCH CÁC DANH MỤC</button>
    </div>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
