@model Doan.DAL.customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .bold-text {
        font-weight: bold;
    }

    .button-container {
        display: flex;
    }

    .custom-button {
        cursor: pointer;
        padding: 5px 15px;
        margin: 5px;
        border: 1px solid #000; /* Viền màu đen */
        display: inline-block;
        text-decoration: none;
        color: inherit; /* Kế thừa màu chữ từ cha */
        background-color: inherit; /* Kế thừa màu nền từ cha */
        outline: none; /* Loại bỏ đường viền khi được focus */
    }

    .create-button {
        background-color: #4287CC;
        color: #fff;
    }

    .submit-button {
        margin-left: 215px;
        background-color: #11EBB3;
        color: #000;
    }

    .custom-width {
        width: 300%;
    }

    .hidden-field {
        display: none;
    }
</style>

<div class="container">
    <h2>CẬP NHẬT THÔNG TIN TÀI KHOẢN</h2>

    @using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.user_id)

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Mã khách hàng</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.user_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Tên đăng nhập</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Email</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Mật khẩu</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Họ</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Tên</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row form-group">
                <div class="col-md-2">
                    <label class="control-label"><b>Số điện thoại</b></label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone_num, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone_num, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="CẬP NHẬT TÀI KHOẢN" class="btn custom-button submit-button bold-text" />
                    <button class="custom-button create-button" onclick="location.href='@Url.Action("Product")'">QUAY VỀ DANH SÁCH KHÁCH HÀNG</button>
                </div>
            </div>
        </div>
    }

</div>